[user]
	name = Masaki Matsushita
	email = glass.saga@gmail.com
	signingkey = 94F1F2D8
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
	autocrlf = input
	whitespace = trailing-space,space-before-tab
[push]
	default = tracking
[alias]
  reamend = commit --amend -C HEAD
  wdiff   = diff --word-diff
	apply = apply --whitespace=warn
	rebase = rebase --whitespace=warn
