vendor/bundle
.vim/bundle/.neobundle
cookbooks
.tmuxinator/push.yml
.gem
tags
TAGS

*-*-*.def
*-*-*.exp
*-*-*.lib
*.a
*.bak
*.bc
*.bundle
*.dSYM
*.dmyh
*.dylib
*.elc
*.i
*.inc
*.log
*.o
*.obj
*.old
*.orig
*.pch
*.pdb
*.rbinc
*.rej
*.s
*.sav
*.sl
*.so
*.swp
*.yarb
*~
.*.list
.*.time
.DS_Store
.bundle
.ccmalloc
.ext
.pc
.ppack
.svn
.time
.ruby-version
cygruby*.def
extconf.h
y.output
y.tab.c
*.gcda
*.gcno
*.gcov
*.vscode
lcov*.info
