[user]
	name = Glass_saga
	email = glass.saga@gmail.com
[color]
	ui = true
[core]
	editor = vim
	pager = lv -c
	excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
[push]
	default = tracking
[alias]
  reamend = commit --amend -C HEAD
  wdiff   = diff --word-diff
